:root{
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: 'YoungSerif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Stone100);
    font-family: 'Outfit', sans-serif;
    color: var(--Stone900);
}

.heading {
    font-family: 'YoungSerif', serif;
    font-weight: 400;
    margin-bottom: 1rem;
}

main {
    background-color: var(--White);
    
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

header {
    margin: 0 2rem;
    padding-top: 2rem;
}

section{
    margin: 0 2rem;
    padding: 2rem 0;
}

.preparation-time {
    background-color: var(--Rose50);
    padding: 2rem;
    border-radius: 0.5rem;
}

li {
    margin-left: 1.5rem;
}

ol, ul, p:not(.preparation-time p) {
    margin: 1rem 0;
}

.divider {
    border-bottom: 1px solid var(--Stone150);
}

.brown, :is(ul, ol) li::marker {
    color: var(--Brown800);
}

table {
    font-family: 'Outfit', sans-serif;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    th {
        font-weight: normal;
        text-align: left;
        text-indent: 2rem;
    }
    td {
        text-indent: 0.7rem;
    }
    .row:not(.borderless){
        padding: 0.5rem 0;
        border-bottom: 1px solid var(--Stone150);
    }
}
